@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
    --bg-color: #e0e0e0;
    --font-color: #404040;
    --bar-color: #e75480;
    --bar-color2: #999;
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

.container {
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2.0;
}

.box {
    width: 50%;
    margin-left: 10rem;
}

.box + .box {
    margin-left: 10rem;
}

.content {
    margin-left: 3rem;
    color: var(--font-color);
    font-family: 'Source Code Pro', monospace;
}

.circular {
    height: 100px;
    width: 100px;
    position: relative;
}

.circular .inner {
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin: -40px 0 0 -40px;
    border-radius: 100%;
    background: var(--bg-color);
}

.circular .num {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--font-color);
}

.circular .bar {
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--bar-color2);
    border-radius: 100%;
    clip: rect(0px, 100px, 100px, 50px);
}

.circle .bar .progress {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    clip: rect(0px, 50px, 100px, 0px);
    background: var(--bar-color);
}

.circle .left .progress {
    z-index: 1;
    animation: left 30s linear both;
}

@keyframes left {
    100% {
        transform: rotate(180deg);
    }
}

.circle .right {
    transform: rotate(180deg);
    z-index: 3;
}

.circle .right .progress {
    animation: right 30s linear both;
    animation-delay: 30s;
}

@keyframes right {
    100% {
        transform: rotate(180deg);
    }
}
